.rooms__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.rooms__item {
  aspect-ratio: 580 / 349;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: transform, 400ms ease;
}

.rooms__item:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow)
}

.rooms__link {
  max-width: 150px;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.rooms__item--80 {
  background-image: url('../../images/room_80s.jpg');
}

.rooms__item--starwars {
  background-image: url('../../images/room_star_wars.jpg');
}

.rooms__item--wildwest {
  background-image: url('../../images/room_wild_west.jpg');
}

.rooms__item--neonstyle {
  background-image: url('../../images/room_neon_style.jpg');
}

@media (max-width: 900px) {
  .rooms__link {
    font-size: 20px;
    line-height: 120%; 
    max-width: 100px;
    gap: 8px;
  }
}

@media (max-width: 470px) {
  .rooms__list {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}