.booking {
  background: var(--bold-purple);
  padding: 80px 0;
  margin-top: 50px;
}

.booking__fieldset {
  font-size: 22px;
  line-height: normal;
  margin-bottom: 60px;
}

.booking__fieldset:last-child {
  margin-bottom: 0;
}

.booking__legend {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 auto 40px auto;
}

.booking__label {
  display: flex;
  align-items: center;
}

.booking__input[type="radio"],
.booking__input[type="checkbox"] {
  margin-right: 12px;
  width: 27px;
  height: 27px;
}

.booking__input[type="text"],
.booking__input--picker {
  justify-self: center;
  border: none;
  height: 52px;
  padding: 12px 20px;
  width: 100%;
}

.booking__input--picker {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.booking__input--picker::-webkit-calendar-picker-indicator {
  place-self: end end;
  display: block;
  width: 16px;
  background-image: url("/assets/arrow_bot.svg");
}

.booking__input--picker::-webkit-datetime-edit {
  display: none;
}

.booking__input--picker:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;

  color: #211E1E;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.booking__input--picker:focus:before {
  content: '' !important;
}

.booking__input:focus,
.booking__input:focus-visible {
  border: 2px solid var(--light-purple);
}

.booking__input::placeholder {
  color: var(--light-black);
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}

.booking__button {
  width: 100%;
  height: 60px;

  outline: none;
  border-radius: 10px;
  background: var(--white);
  color: var(--dark-purple);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 26px;

  transition: background-color 0.5s ease, border-color 300ms ease, border-width 50ms ease;
}

.booking__button:hover {
  border-radius: 10px;
  border: 3px solid var(--dark-purple);
  background: var(--white-darkened);
}

.booking__button:focus {
  border-radius: 10px;
  border: 3px solid var(--dark-purple);
  background: var(--white);
  outline: none;
}

.booking__button:active {
  border-radius: 10px;
  background: var(--white-darkened);
  border: none;
}

/** room fieldset styles | START **/

.booking__fieldset--room {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(180px, 250px));
  gap: 20px;
}

.booking__label--room {
  justify-self: center;
  aspect-ratio: 250 / 55;
  display: grid;
  place-items: center center;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 8px;
  background: var(--white);

  color: var(--black);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.booking__input--room {
  display: none;
}

.booking__input--room:hover+label {
  transition: background-color 0.3s ease;
}

.booking__input--room:hover+label {
  border-radius: 8px;
  border: 3px solid var(--violet);
  background: var(--white-darkened);
}

.booking__input--room:checked+label {
  color: var(--white);
  border-radius: 8px;
  border: 3px solid var(--white);
  background: var(--dark-purple);
}

.booking__label--room:focus {
  border-radius: 8px;
  border: 3px solid var(--violet);
  background: var(--white);
}

.booking__label--datetime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  line-height: 16px;
  gap: 5px;
}

/** room fieldset styles | END **/

/** service fieldset styles | START **/

.booking__fieldset--services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 32px;
}

.booking__fieldset--services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.booking__legend--services {
  margin: 0 0 23px 0;
  text-align: left;
}

/** service fieldset styles | END **/

/** datetime fieldset styles | START **/

.booking__fieldset--datetime {
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: minmax(200px, 300px) minmax(200px, 280px) minmax(200px, 300px);
  grid-template-areas:
    "legend legend legend"
    "datetime name phone"
    "qty surname email"
    ". . button"
  ;
  gap: 14px 50px;
}

.booking__datetime {
  grid-area: datetime;
  display: flex;
  gap: 34px;
}

.booking__legend--datetime {
  grid-area: legend;
}

.booking__button {
  grid-area: button;
}

.booking__label--name {
  grid-area: name;
}

.booking__label--surname {
  grid-area: surname;
}

.booking__label--phone {
  grid-area: phone;
}

.booking__label--email {
  grid-area: email;
}

.booking__label--qty {
  grid-area: qty;
}

.booking__label--date {
  grid-area: date;
}

.booking__label--time {
  grid-area: time;
}

/** datetime fieldset styles | END **/

@media (max-width: 1150px) {
  .booking__fieldset--room {
    grid-template-columns: repeat(4, minmax(150px, 220px));
    gap: 60px;
  }

  .booking__label--room {
    aspect-ratio: 180 / 40;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 900px) {
  .booking__fieldset--room {
    grid-template-columns: repeat(4, minmax(130px, 220px));
    gap: 30px;
  }

  .booking__label--datetime {
    min-width: unset;
  }

  .booking__label--room {
    font-size: 16px;
    line-height: 20px;
  }

  .booking__input[type="radio"],
  .booking__input[type="checkbox"] {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }

  .booking__fieldset--datetime {
    justify-content: space-between;
    grid-template-columns: minmax(200px, 280px) minmax(200px, 300px);
    grid-template-areas:
      "legend legend"
      "datetime qty"
      "name phone"
      "surname email"
      ". button"
    ;
  }

  .booking__datetime,
  .booking__label--qty {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .booking__fieldset {
    margin-bottom: 30px;
  }

  .booking__fieldset--room {
    grid-template-columns: repeat(2, minmax(120px, 300px));
    gap: 14px 20px;
  }

  .booking__fieldset--datetime {
    grid-template-columns: minmax(280px, 350px);
    grid-template-areas:
      "legend"
      "datetime"
      "qty"
      "name"
      "surname"
      "phone"
      "email"
      "button"
    ;
  }

  .booking__datetime {
    gap: 12px;
    margin: 0;
  }

  .booking__label--qty,
  .booking__label--surname {
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {
  .booking__label {
    font-size: 16px;
    line-height: normal;
  }

  .booking__label--room {
    font-size: 14px;
    line-height: 18px;
  }

  .booking__legend {
    font-size: 14px;
    line-height: 18px;
  }

  .booking__legend {
    margin-bottom: 15px;
  }
}