.faq__list {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.faq__element {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: 87px;
  background-color: var(--white);
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0 70px;
}

.faq__element:nth-child(even) {
  background-color: var(--bold-purple);
  color: var(--white);
}

.faq__element::after {
  content: url("../assets/open_purple.svg");
  display: inline-block;
  width: 46px;
  height: 46px;
}

.faq__element:hover::after {
  content: url("../assets/open_purple_hover.svg");
}

.faq__element:active::after {
  content: url("../assets/open_purple_active.svg");
}

.faq__element:nth-child(even)::after {
  content: url("../assets/open.svg");
}

.faq__element:nth-child(even):hover::after {
  content: url("../assets/open_hover.svg");
}

.faq__element:nth-child(even):active::after {
  content: url("../assets/open_active.svg");
}

@media (max-width: 1150px) {
  .section__header--faq {
    margin-bottom: 27px;
  }

  .faq__list {
    gap: 16px;
  }

  .faq__element {
    height: 70px;
    font-size: 20px;
    line-height: 24px;
    padding: 0 20px 0 25px;
  }

  .faq__element:nth-child(even) {
    background-color: var(--white);
    color: var(--bold-purple);
  }

  .faq__element:nth-child(n + 5) {
    display: none;
  }

  .faq__element:nth-child(even)::after {
    content: url("../assets/open_purple.svg");
  }

  .faq__element:nth-child(even):hover::after {
    content: url("../assets/open_purple_hover.svg");
  }

  .faq__element:nth-child(even):active::after {
    content: url("../assets/open_purple_active.svg");
  }
}

@media (max-width: 900px) {
  .faq__element {
    font-size: 18px;
    line-height: 24px;
    padding: 0 65px 0 54px;
  }
}

@media (max-width: 580px) {
  .faq__element {
    font-size: 12px;
    line-height: 16px;
    padding: 0 13px 0 10px;
  }
}