.header {
  padding-top: 30px;
}

.container--header {
  display: grid;
  grid-template-areas: "logo nav btn";
  justify-content: space-between;
  align-items: center;
}

.logo {
  grid-area: logo;
  width: 120px;
  height: 66px;
}

.menu {
  grid-area: menu;
  display: none;
  color: var(--dark-purple)
}

.menu:hover {
  color: var(--purple);
}

.menu:focus {
  color: var(--purple);
}

.menu__close-icon {
  display: none;
}

.navigation {
  grid-area: nav;
}

.navigation__list {
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
}

.navigation__item {
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__link:focus,
.navigation__link:focus-visible {
  transition: background-color 0.25s 0.05s ease, border-color 0.5s ease;
  background-color: var(--dark-purple)
}

.navigation__link {
  display: block;
  height: 100%;
}

.header__call-button {
  grid-area: btn;
  align-self: end;

  background: none;
  outline: none;
  border: 3px solid var(--light-purple);
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  width: 280px;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.header__call-button:hover,
.header__call-button:focus {
  border: 3px solid var(--dark-purple);
  background: var(--dark-purple)
}

.header__call-button:active {
  border: 1px solid var(--black);
  background: var(--violet);
}

.back {
  padding-top: 60px;
  padding-bottom: 20px;
}

.back__link {
  display: flex;
  gap: 10px;

  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

@media (max-width: 1150px) {
  .container--header {
    gap: 20px;
  }

  .logo {
    grid-area: logo;
    width: 87px;
    height: 55px;
  }

  .navigation__list {
    gap: 20px;
  }

  .navigation__item {
    font-size: 18px;
    line-height: 22px;
  }

  .header__call-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    width: 229px;
    height: 45px;
  }

  .back {
    padding-top: 50px;
  }
}

@media (max-width: 900px) {
  .container--header {
    grid-template-areas: "menu logo btn";
  }

  .navigation {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu__close-icon,
  .menu__icon {
    width: 54px;
    height: 29px;
  }

  .back {
    padding-top: 40px;
  }

  .back__link {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 470px) {
  .container--header {
    grid-template-areas: "menu logo";
  }

  .logo {
    width: 66px;
    height: 42px;
  }

  .menu__close-icon,
  .menu__icon {
    width: 30px;
    height: 20px;
  }

  .header__call-button {
    display: none;
  }

  .back {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .back__link {
    font-size: 12px;
    line-height: 16px;
  }
}