.container--promo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 0.5fr 1.8fr 1fr 1fr;

  height: 823px;
  overflow: hidden;
}

.promo__background {
  /* размещаем под контентом */
  z-index: -1;
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  content: "";
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  margin-top: 60px;
}

.promo__header {
  z-index: -2;
  /* эффект наложения изображения на заголовок */
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -15px;
}

.promo__slogan {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
}

.promo__text-container {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  place-self: start start;
  place-items: end end;
  display: flex;
  gap: 43px;
}

.promo__text {
  max-width: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.promo__number {
  display: block;
  color: var(--light-purple);
  font-size: 100px;
  font-weight: 900;
  line-height: normal;
}

.promo__label {
  display: block;
  color: var(--light-purple);
  font-size: 75px;
  font-weight: 900;
  font-variant: all-small-caps;
  line-height: normal;
}

.promo__button--booking {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  place-self: end start;

  display: grid;
  place-content: center center;

  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--dark-purple);
  color: var(--white);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  width: 374px;
  height: 80px;
}

.promo__button--booking:hover,
.promo__button--booking:focus {
  border-radius: 10px;
  background: var(--purple)
}

.promo__button--booking:active {
  border-radius: 10px;
  background: var(--violet);
}

.promo__button--down {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  place-self: center center;

  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("../assets/down.svg");
  background-position: center;
  background-size: cover;

  width: 97px;
  height: 97px;
}

.promo__button--down:hover {
  background-image: url("../assets/down_hover.svg");
}

.promo__button--down:focus {
  outline: 1px solid var(--light-purple);
}

.promo__button--down:active {
  outline: none;
  background-image: url("../assets/down_active.svg");
}

@media (max-width: 1150px) {
  .container--promo {
    height: 583px;
  }

  .promo__background {
    height: 520px;
  }

  .promo__header {
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -12px;
  }

  .promo__slogan {
    font-size: 22px;
    line-height: 30px;
  }

  .promo__text {
    font-size: 26px;
    line-height: normal;
  }

  .promo__number {
    font-size: 80px;
    line-height: normal;
  }

  .promo__label {
    font-size: 60px;
    line-height: normal;
  }

  .promo__button--booking {
    width: 296px;
    height: 64px;
    font-size: 22px;
    line-height: 30px;
    margin-left: 40px;
  }

  .promo__button--down {
    width: 67px;
    height: 67px;
  }
}

@media (max-width: 900px) {
  .container--promo {
    height: 537px;
  }

  .promo__background {
    height: 479px;
  }

  .promo__header {
    font-size: 86px;
    line-height: 100%;
    letter-spacing: -8.6px;
  }

  .promo__slogan {
    font-size: 18px;
    line-height: 24px;
  }

  .promo__text-container {
    gap: 32px;
  }

  .promo__text {
    font-size: 16px;
    line-height: normal;
    max-width: 110px;
  }

  .promo__number {
    font-size: 50px;
    line-height: normal;
  }

  .promo__label {
    font-size: 40px;
    line-height: normal;
  }

  .promo__button--booking {
    width: 214px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .promo__button--down {
    display: none;
  }
}

@media (max-width: 470px) {
  .container--promo {
    height: 204px;
  }

  .promo__background {
    height: 179px;
  }

  .promo__header {
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -2.8px;
  }

  .promo__slogan {
    font-size: 10px;
    line-height: 14px;
    padding-left: 20px;
  }

  .promo__text-container {
    gap: 20px;
  }

  .promo__text {
    font-size: 10px;
    line-height: normal;
    max-width: 80px;
  }

  .promo__number {
    font-size: 26px;
    line-height: normal;
  }

  .promo__label {
    font-size: 22px;
    line-height: normal;
  }

  .promo__button--booking {
    width: 117px;
    height: 27px;
    font-size: 10px;
    font-style: normal;
    line-height: 12px;
  }
}