.room__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(200px, 380px));
  gap: 20px;
}

.room__item {
  aspect-ratio: 580 / 349;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: transform, 400ms ease;
}

.room__item:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow)
}

.room__link {
  display: inline-block;
  max-width: 252px;

  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}

.room__item:nth-child(2n) {
  margin-right: 0;
}

.room__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.room__item--80 {
  background-image: url('../images/room_80s.jpg');
}

.room__item--starwars {
  background-image: url('../images/room_star_wars.jpg');
}

.room__item--wildwest {
  background-image: url('../images/room_wild_west.jpg');
}

.room__item--neonstyle {
  background-image: url('../images/room_neon_style.jpg');
}

@media (max-width: 1150px) {
  .room__link {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 900px) {
  .room__link {
    font-size: 40px;
    line-height: 50px;
    max-width: 130px;
  }
}

@media (max-width: 700px) {
  .room__link {
    font-size: 30px;
    line-height: 39px;
  }
}

@media (max-width: 470px) {
  .room__list {
    grid-template-columns: minmax(150px, 580px);
    gap: 10px;
  }

  .room__link {
    font-size: 26px;
    line-height: 34px;
  }
}